<h1><%= @restaurant.name %></h1>

<p>Address: <%= @restaurant.address %></p>
<p>Category: <%= @restaurant.category %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>

<h2>Reviews</h2>

<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.button :submit %>
<% end %>

<% if @restaurant.reviews == [] %>
  <p>No reviews yet</p>
<% else %>
  <ul>
  <% @restaurant.reviews.each do |review| %>  
    <li><%= review.content %>
        <%= review.rating %>
    </li>
  <% end %>
  </ul>
<% end %>